interfaces {
{% for interface in interfaces %}
    {{ interface.name }} {
        {% if interface.description %}
        description "{{ interface.description }}";
        {% endif %}
        {% if interface.vlan_tagging %}
        flexible-vlan-tagging;
        {% endif %}
        {% if interface.mtu %}
        mtu {{ interface.mtu }};
        {% endif %}
        {% if interface.vlans %}
        vlan-tagging;
        unit 0 {
            vlan-id {{ interface.vlans[0].vlan_id }};
            family inet {
                address {{ interface.ip_address }};
            }
        }
        {% elif interface.ip_address %}
        unit 0 {
            family inet {
                address {{ interface.ip_address }};
            }
        }
        {% endif %}
    }
{% endfor %}
}
